### ------------------------------------ ###
### Backend dependencies
### ------------------------------------ ###
requests
beautifulsoup4
lxml
FastAPI
uvicorn
pytest
pytest-cov
httpx

### ------------------------------------ ###
### Frontend dependencies
### ------------------------------------ ###
react
react-dom
react-scripts
express
cors

### ------------------------------------ ###
### Frontend dependencies
### ------------------------------------ ###